= form_for @user do |f|
  = f.label :name, nil, class: 'required'
  = f.text_field :name

  = f.label :username, nil, class: 'required'
  = f.text_field :username

  = f.label :email, nil, class: 'required'
  = f.text_field :email

  = f.label :location, 'Location'
  = f.text_field :location

  = f.label :password, nil, class: 'required'
  = f.password_field :password

  = f.label :password_confirmation, nil, class: 'required'
  = f.password_field :password_confirmation

  = f.submit
