%h1= @user.name

= profile_image_tag(@user)
%p.profile_instructions Change profile image.

- if current_user == @user
  .upload_image
    = form_for @user do |f|
      = f.file_field :image

      = f.submit
