!!!
%html
  %head
    %title Thirteen23
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .nav
      %ul
        %li= link_to('Home', root_url)
        %li= link_to('Edit', root_url)
        - if signed_in?
          %li= link_to(current_user.name, current_user)
          %li= link_to('Sign Out', logout_url)
        - else
          %li= link_to('Sign In', login_url)

    .flashes
      - flash.to_hash.slice('alert', 'error', 'notice', 'success').each do |key, value|
        .flash{class: key}= value

    .wrapper
      = yield
